@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");
html {
  font-size: calc(0.5em + 0.5vw);
}

#Example_Product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  border: 2px solid black;
  background-color: #8a1611;
  color: white;
}
#Example_Product * {
  background-color: #8a1611;
}
#Example_Product #Details {
  border-radius: 4px;
  border: 2px solid black;
  background-color: salmon;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  margin: 1rem;
  max-width: 500px;
}
#Example_Product #Details * {
  background-color: salmon;
}
#Example_Product #Details h2, #Example_Product #Details h3, #Example_Product #Details p, #Example_Product #Details i {
  background-color: salmon;
  color: black;
}
#Example_Product #Details select, #Example_Product #Details option, #Example_Product #Details button {
  background-color: white;
}
#Example_Product .Example_Product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: normal;
  max-height: 300px;
  width: 240px;
  margin: 1rem;
}

nav {
  font-size: 4em;
}
nav ul {
  border-radius: 4px;
  border: 2px solid black;
  background-color: #8a1611;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  gap: 1rem;
  list-style: none;
}
nav ul * {
  background-color: #8a1611;
}
nav ul a {
  height: 2rem;
  color: white;
}
nav ul input {
  background-color: white;
  max-width: 5rem;
}

.Banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#Breadcrumbs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#Breadcrumbs ul {
  border: 0px;
}
#Breadcrumbs * {
  background-color: #8a1611;
}

@media only screen and (min-width: 701px) {
  .fa-bars {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  #menu {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: normal;
  border-radius: 4px;
  border: 2px solid black;
  background-color: #8a1611;
  color: white;
}
footer #Footer_Logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
footer #Social_Media ul {
  flex-direction: row;
}
footer * {
  background-color: #8a1611;
}
footer section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: normal;
  margin: 0px;
}
footer section h2 {
  margin: 0px;
}
footer ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: normal;
  list-style: none;
  background-color: #8a1611;
  gap: 10px;
  padding: 0px;
}
footer ul a {
  padding: 5px;
  background-color: #8a1611;
  color: white;
}

.Product-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: normal;
  background-color: white;
}

.product-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid black;
  background-color: #8a1611;
  color: white;
  flex-grow: 1;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 350px;
  padding: 1rem;
  margin: 5px;
}
.product-card * {
  background-color: #8a1611;
  align-items: center;
  justify-self: center;
  color: white;
}

.Review-Card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid black;
  background-color: #8a1611;
  color: white;
  flex-grow: 1;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 1rem;
  margin: 5px;
}
.Review-Card * {
  background-color: #8a1611;
  align-items: center;
  justify-self: center;
  color: white;
}
.Review-Card .Review {
  border-radius: 4px;
  border: 2px solid black;
  background-color: salmon;
  color: white;
}
.Review-Card h3, .Review-Card p, .Review-Card i {
  background-color: salmon;
  color: black;
}

.Overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: normal;
  border-radius: 4px;
  border: 2px solid black;
  background-color: #8a1611;
  color: white;
  flex-grow: 1;
  margin: 1rem;
}
.Overview .Title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Overview * {
  background-color: #8a1611;
  align-items: center;
  justify-self: center;
  color: white;
}
.Overview .Details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.Overview .Details * {
  margin: 0px;
}
.Overview .Details input, .Overview .Details button, .Overview .Details select, .Overview .Details option, .Overview .Details button label {
  background-color: white;
  color: black;
}
.Overview .Details form, .Overview .Details button {
  margin-top: 10px;
}

* {
  font-family: Lato, sans-serif;
  background-color: white;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}

#Global-Container {
  width: 1200px;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */