@use 'definitions.scss' as f;
@use 'mixins.scss' as *;
@use 'details.scss';


.Overview{
    @include flexbox(row, wrap, space-evenly, normal);
    @include colours(f.$background2, f.$text_colour2);

    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;

    .Title{
        @include flexbox(row, wrap, center, center);
        width: 100%;
    }

    *{
        background-color: f.$background2;
        align-items: center;
        justify-self: center;
        color: f.$text_colour2;
        margin: 0.5rem;
    }

    .Details{
        @include flexbox(row, wrap, space-around, center);
        text-align: center;

        *{
            margin: 0px;
        }

            
        .Purchase_Details{
            @include colours(f.$background3, f.$text_colour1);

            *{
                background-color: f.$background3;
            }
                
            input, button, select, option, button label, input{
                background-color: f.$background;
                color: f.$text_colour1;
                margin: 5px;
            }

            form, button{
                margin-top: 10px;
            }
        }
        
        input, button, select, option, button label, input{
            background-color: f.$background;
            color: f.$text_colour1;
            margin: 5px;
        }

        form, button{
            margin-top: 10px;
        }
    }
}

#Card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#Payment{
    @include flexbox(row, wrap, center, center);
    h3{
        width: 100%;
        text-align: center;
    }
}

#Finalizing{
    @include flexbox(column, wrap, center, center);
}

#Contact{
    @include flexbox(column, wrap, space-around, center);
}
