@use 'definitions.scss' as f;
@use 'mixins.scss' as *;
@use 'details.scss';


#Checkout{
    @include flexbox(column, wrap, space-evenly, center);
    @include colours(f.$background2, f.$text_colour1);

    flex-grow: 1;
    min-width: fit-content;
    padding: 1rem;
    margin: 5px;
    
    .Overview{
        @include flexbox(row, wrap, center, center);
        @include colours(f.$background2, f.$text_colour2);

        flex-grow: 1;
        min-width: fit-content;
        padding: 1rem;
        margin: 5px;
        
        *{
            background-color: f.$background2;
            align-items: center;
            justify-self: center;
            color: f.$text_colour2;
        }

        .Details{
            @include colours(f.$background3, f.$text_colour1);
            *{
                background-color: f.$background3;
                color: f.$text_colour1;
            }
            input, button, select, option{
                background-color: f.$background;
            }
        }
    }
}


