@use 'definitions.scss' as f;
@use 'mixins.scss' as *;
@use 'details.scss';
@use 'structure.scss';
@use 'products.scss';
@use 'example.scss';
@use 'checkout.scss';

*{
    font-family: f.$mainFont;
    background-color: f.$background;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}

#Global-Container{
    width: 1200px;
    display: flex;
    flex-direction: column;
}    
