@use 'definitions.scss' as f;
@use 'mixins.scss' as *;
@use 'details.scss';
@use 'structure.scss';
@use 'example.scss';

*{
    font-family: f.$mainFont;
    background-color: f.$background;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}

#Global-Container{
    width: 1200px;
    display: flex;
    flex-direction: column;
}    

.Banner{
    @include flexbox(column, wrap, center, center);
}

#Popular_products{
    @include flexbox(row, wrap, space-evenly, normal);
    background-color: f.$background;
}

.product-card{
    @include flexbox(column, wrap, center, center);
    @include colours(f.$background2);

    flex-grow: 1;
    min-width: 300px;
    padding: 1rem;
    margin: 5px;
    
    *{
        background-color: f.$background2;
        align-items: center;
        justify-self: center;
        color: black;
    }
}

.product{
    @include flexbox(row, wrap, center, center);
    flex-grow: 1;
    border: 2px solid black;
    min-width: 300px;
    background-color: f.$background2;
    border-radius: 4px;
    padding: 1rem;
    margin: 5px;
    *{
        background-color: f.$background2;
        align-items: center;
        justify-self: center;
        color: black;
    }
}